@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #15140F;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-color {
    color: #E58F28;
  }

  .border-color {
    border: #5B5A57;
  }
  
}

/* Hide the scrollbar while keeping scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

